@font-face {
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 400;
    src: local('Limelight'), url(https://fonts.gstatic.com/s/limelight/v8/XLYkIZL7aopJVbZJHDuoOulHjHUmTQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.wlclass {
    font-family: 'Archivo', sans-serif;
}

body {
    background-image: url("theater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Archivo', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: black;
    color: silver;
    padding: 10px;
}

#site-title {
   font-family: "Limelight";
   font-size: 50px;
   color:maroon;
   text-shadow: 1px 1px silver;
}

#watch-btn {
    display: flex;
    justify-content: center;
    height: 40px;
    width: 200px;
    border-radius: 5px;
    background-color: maroon;
    border: 1px solid silver;
    color: silver;
}

.search-container {
    display: flex;
    align-items: center;
    
}

#search-input {
    padding: 20px;
    margin: 10px;
    width: 700px;
    height: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: silver;
}

#search-input::placeholder {
    color: black;
}

.dropdown {
    height: 30px;
    margin-right: 10px;
    background-color: silver;
}

#search-btn {
    width: 130px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    background-color: maroon;
    color: silver;
}

#results-title {
    font-family: 'Limelight';
    font-size: 40px;
    color: black;
    margin: 10px;
}

.results-container {
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    background-color: silver;
}

ul {
    color: black;
}


i {
    margin-right: 5px;
}


