@font-face {
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 400;
    src: local('Limelight'), url(https://fonts.gstatic.com/s/limelight/v8/XLYkIZL7aopJVbZJHDuoOulHjHUmTQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.wlclass {
    font-family: 'Archivo', sans-serif;
}

body {
    background-image: url("theater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Archivo', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 60px;
    background-color: black;
    color: silver;
    padding: 10px;
    margin-top: 20px;
}

#site-title {
   font-family: "Limelight";
   font-size: 50px;
   color:maroon;
   text-shadow: 1px 1px silver;
}

#watch-btn {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 240px;
    border-radius: 5px;
    background-color: maroon;
    border: 1px solid silver;
    color: silver;
}

#watch-btn:hover {
    background-color: red;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#search-input {
    padding: 20px;
    margin: 10px;
    width: 700px;
    height: 16px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: silver;
}

#search-input::placeholder {
    color: black;
}

.dropdown {
    height: 30px;
    margin-right: 10px;
    background-color: silver;
}

#search-btn {
    width: 130px;
    height: 40px;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 10px;
    background-color: maroon;
    color: silver;
}

#search-btn:hover {
    background-color: red;
    cursor: pointer;
}

#results-title {
    font-family: 'Limelight';
    font-size: 40px;
    color: black;
    margin: 10px;
}

.hidden-element {
    display: none;
}

.results-container {
    display: block;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    background-color: silver;
    height: 330px;
    overflow: scroll;
}

ul {
    color: black;
}


i {
    margin-right: 5px;
}
/*------------------------------*/

.wl-class {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.wl-title {
    color: white;
}

.wl-genre {
    color: white;
}

.wl-rating {
    color: white;
}

.wl-year {
    color: white;
}

.remove-btn {
    color: white;
    background-color: black;
    border-radius: 15px;
  
}


.watchlist-test {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.single-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;

    height: 150px;
    align-items: center;
    font-family: "Space Mono";
    border-bottom: 1px dotted black;
    padding-bottom: 15px;
    margin-top: 24px;
}

.result-img {
    border-radius: 5px;
    height: 148px;
    width: 148px;
}





#star:hover {
    color: yellow;
    font-weight: bold;
    cursor: pointer;

    

}


#results-title {
    font-weight: bolder;
    margin-bottom: 40px;
    border-bottom: 1px solid black;
}

.result-title {
    font-size: 2em;

    height: 100px;
    align-items: center;

}

.icon-x {
    display: flex;
    justify-content: right;
}

.container-watchlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.watchlist-body {
    background-image: url("theater.jpg");
}
.icon-x {
    color: white;
    display: flex;
}