<nav>
    <p id="site-title">Film Finder</p>
    <button id="watch-btn">View Watchlist</button>
</nav>
<section class="main-container">
    <section class="photo-container">
    </section>
    <section class="search-container">
        <input type="text" placeholder="Keyword Search">
        <select >
            <option value="comedy">Comedy</option>
            <option value="horror">Horror</option>
            <option value="childrens">Childrens</option>
            <option value="action">Action</option>
            <option value="drama">Drama</option>
            <option value="sci-fi">Sci-Fi</option>
        </select>
        <select >
            <option value="1900s">1900s</option>
            <option value="1910s">1910s</option>
            <option value="1920s">1920s</option>
            <option value="1930s">1930s</option>
            <option value="1940s">1940s</option>
            <option value="1950s">1950s</option>
            <option value="1960s">1960s</option>
            <option value="1970s">1970s</option>
            <option value="1980s">1980s</option>
            <option value="1990s">1990s</option>
            <option value="2000s">2000s</option>
            <option value="2010s">2010s</option>
        </select>
        <select>
            <option value="g">G</option>
            <option value="pg">PG</option>
            <option value="pg-13">PG-13</option>
            <option value="r">R</option>
            <option value="nc-17">NC-17</option>
            
        </select>


        <button id="search-btn">Search Movies</button>
    </section>
    <section class="results-container">
        <p id="results-title">Results</p>
        <ul>
            <li>Movie Title</li>
        </ul>
    </section>
</section>