
<section class= "wl-background">
    <section class="container-watchlist">
        <p class="icon-x"><i class="material-icons">close</i></p>
        <p class="wl-heading">Watchlist</p>
    </section>
    <section class="wl-class-popup">
        <img class="wl-image" src="">
        <p class="wl-title">Title:</p>
        <p class="wl-genre">Genre:</p>
        <p class="wl-rating">Rating:</p>
        <p class="wl-year">Year:</p>
        <button class="remove-btn" ng-click="">Remove<i class='material icons'>Delete</i>
        </button>
    </section>
</section>

